<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gerencie atividades, equipes e projetos em um único lugar">
    <link rel="canonical" href="https://flask-api-task-manager.herokuapp.com/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Task Manager</title>
</head>
<body>
    
    {% include 'navbar.html' %}

    {% with mensagens = get_flashed_messages(with_categories=True) %}
        {% if mensagens %}
            {%for categoria, mensagem in mensagens %}
                <div class="container alert {{categoria}}">
                    {{ mensagem }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}    




    {% block signup %}

    {% endblock %}

    {% block login %}

    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>