{% extends 'index.html' %}

{% block login %}

<section class="container">
    <h3>Login</h3>
    
    <form action="/login" method="post" class="border rounded p-4 mt-2">
       {{ login.csrf_token }}
       
        <fieldset class="container ">
            {{ login.email.label(class="form-label mt-2")}}
            {{ login.email(class="form-control")}}
            
            {{ login.password.label(class="form-label mt-2")}}
            {{ login.password(class="form-control")}}
            
            
            <div class="form-group mt-4">
                {{ login.lembrete }}
                {{ login.lembrete.label(class="form-control-label")}}
            </div>    
        </fieldset>

        {{ login.login(class='btn btn-success m-3')}}
    </form>
</section>

{% endblock %}