{% extends 'index.html' %}
 
{% block signup %}

<section class="container" id="signup">
    
    <legend>Create your account</legend>
    
    <form action="/create" method="post" class="border rounded p-3 mt-2">
        {{ createAccount.csrf_token }}
        <fieldset class="container ">
            {{ createAccount.email.label(class='form-label mt-2')}}      
            {{ createAccount.email(class='form-control')}}    
            
            {{ createAccount.password.label(class='form-label mt-2')}}      
            {{ createAccount.password(class='form-control')}}    
            
            {{ createAccount.create(class='btn btn-success my-2')}}
        </fieldset>
    </form>
</section>


{% endblock %}