{% extends "bootstrap.html" %}

{% block content %}
<header class="container-fluid m-2">
    <nav class="navbar navbar-expand-md collapse show  bg-indigo pl-2" id="navbarToggleContent">
        <div class="container-fluid flex-column align-items-start">
            <a href="navbar-brand">VEC IT</a> 


            <ul class="navbar-nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="">Sign Up</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="">Sign In</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="">Contact</a>
                </li>
                
            </ul>

        </div>

    </nav>
    
    <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleContent" aria-controls="navbarToggleContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="bi bi-chevron-double-left"></i></span>
    </button>
    
</header>


{% endblock %}