{% extends 'bootstrap.html' %}

{% block signup %}

<section>

    <h3>Cadastro</h3>

    <form action="" method="POST">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name">
        
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        
        <label for="cpf">CPF</label>
        <input type="text" name="cpf" id="cpf">
        
        <label for="password">Senha</label>
        <input type="password" name="password" id="password">
        
        <button type="submit">Submit</button>
    </form>


</section>

{% endblock %}